.btn-edit,
.btn-exclude {
    font-size: 12px;
    background-color: blueviolet;
    color: #fff;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
}